body {
    margin: 0;
    padding-top: 45px;
    padding: 0;
    background-image: url("background.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Pixelify Sans', system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    z-index: 1000;
    -webkit-app-region: drag;
}

.drag-region {
    -webkit-app-region: drag;
    margin-left: 10px;
    font-weight: lighter;
    font-size: 14px;
    color: antiquewhite;
    flex-grow: 1;
}

.window-controls {
    display: flex;
    gap: 8px;
    -webkit-app-region: no-drag;
}

.window-controls button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.window-controls img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(3px 3px 3px #6667ab);
}

.cover-image {
    display: block;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: -5px;
    border-radius: 6px;
}

.img-button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.img-button img {
    width: 70px;
    height: 70px;
    transition: transform 0.2s;
}

.img-button img:hover {
    transform: scale(1.1);
}

.player-container {
    padding: 20px;
    width: 300px;
}

.pixel-frame {
    padding: 10px;
    background: transparent;
}

.screen {
    text-align: center;
}

.song-title {
    font-size: 16px;
    color: #f5D5E0;
    margin-bottom: 10px;
}

.progress-bar-container {
    margin-top: 10px;
    height: 10px;
    border: 2px solid #f5D5E0;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #210635;
    width: 0%;
}